@mixin button-size($width, $height, $border-radius) {
    min-width: unit($width);
    height: unit($height);
    border-radius: unit($border-radius);
}

@mixin button-variant($background-color, $background-color-hover, $disable-combition:default) {
    background-color: $background-color;
    border-color: $background-color;
    &:hover,
    &:focus {
        background: $background-color-hover;
        border-color: $background-color-hover;
        border: unit(1) $C11 solid;
    }
    &:active {
        background: $background-color-hover;
        border-color: $background-color-hover;
        outline: none;
        border: unit(1) $C11 solid;
    }
    @if $disable-combition==default {
        @include when(disable) {
            &,
            &:hover,
            &:focus {
                color: $C34;
                cursor: not-allowed;
                background-image: none;
                background-color: $C11;
                border-color: $C11;
            }
        }
    }
    @else if $disable-combition==primary {
        @include when(disable) {
            &,
            &:hover,
            &:focus {
                cursor: not-allowed;
                color: $C35;
                background-color: $C23;
                border-color: $C23;
            }
        }
    }
    @else if $disable-combition==large {
        @include when(disable) {
            &,
            &:hover,
            &:focus {
                cursor: not-allowed;
                color: $C35;
                background-color: $C23;
                border-color: $C23;
            }
        }
    }
    @else if $disable-combition==small {
        @include when(disable) {
            &,
            &:hover,
            &:focus {
                cursor: not-allowed;
                color: $C35;
                background-color: $C23;
                border-color: $C23;
            }
        }
    }
    @else if $disable-combition==ghost {
        @include when(disable) {
            &,
            &:hover,
            &:focus {
                cursor: not-allowed;
                color: $C35;
                background-color: $C23;
                border-color: $C23;
            }
        }
    }
}