@charset "UTF-8";
@import "./public";

@include b(mask) {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;

    @include when(M1) {
        @include M(1);
    }
    @include when(M2) {
        @include M(2);
    }
    @include when(M3) {
        @include M(3);
    }
    @include when(M4) {
        @include M(4);
    }
}