@charset "UTF-8";
@import "./public";

@include b(progress) {
    width: 100%;
    background-color: $C03;
    position: relative;

    @include m(schedule) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: $transition-time;
        background-color: $C04;
    }

    @include m(buffer) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        transition: $transition-time;
        background-color: $C02;
    }

    @include m(drag-button) {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: unit(-6);
        left: unit(-6);
        z-index: 1;
        width: unit(20);
        height: unit(20);
        border-radius: 50%;
        background-color: $C01;
        cursor: pointer;

        @include e(drag-cricle) {
            width: unit(8);
            height: unit(8);
            border-radius: 50%;
            background-color: $C04;
        }
    }
}